.chatscreen
  .wrapper
    .chat-side
      .side-header
        %p.side-header__user-name
          test-user
        %ul.user__menu
          %li.user__menu__edit-user
            =link_to '#' do
              %i.fa.fa-edit
          %li.user__menu__new-group
          =link_to '#' do
            %i.fa.fa-cog
      .groups
        =link_to '#' do
          .group
            %p.group__group-name test-group
            %p.group__latest-message さようなら
    .chat-main
      .main-header
        %div.current__group
          %h2.current__group-name text-group
          %ul.member__list
            "
            Member:
            "
            %li.member__list-member sample
        =link_to '#' do
          .main__header__edit-btn Edit
      .messages
        %div.message
          .message__info
            %p.message__info-user test-user
            %p.message__info-date 2019/04/21(sun) 11:51:06
          %p.message__text こんにちは!
      .form
        %form{ class: "new-message",id: "new_message", enctype: "multipart/form-data", action: "", accept_charaset: "UTF-8", method: "post"}
          %input{ name: "utf8",type: "hidden",value: "✔"}
          %input{ type: "hidden",name: "authenticity_token",value: ""}
          .input-box
            %input{ placeholder: "type a messeage",class: "input-box__text",type: "text",name: "message[content]",id: "message_content"}
            %label{ class: "image-label", for:"message-image"}
              %i.fa.fa-image
              %input{ class: "image-label__input",type: "file",name: "message[image]",id: "message__image"}
            %input{ type: "submit",name: "commit",value: "Send",class: "new-message__submit-btn",data__disable__with: "Send"}