!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .chatscreen
    .wrapper
      .chat__side
      .chat__main
        .main__header
        %p
          text-group
        .messages
          .message__info
          %p 
            test-user
          .message__text
          %p
            こんにちは！
